/* .row{
  display: flex;
  font-size: 150px;
}
.card{
  margin-left: 50px;
  margin-top: 40px;
  cursor: pointer;
  background-color: #007bff;
  color: #007bff;
  width: 227px;
  text-align: center;
}
.white{
  color: white;
}
.green{
  background-color: green;
} */

.header{
  display: flex;
  justify-content: center;
}
.btn{
  display: flex;
  justify-content: center;
}
.btn-add{
  align-items: center;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invisible{
  display: none;
}
#name,
#facult,
#start,
#ages{
  cursor: pointer;
}